<a href="https://colab.research.google.com/github/code-bin0111/summerschool/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
src = list(files.upload().values())[0]

In [ ]:
# 문자열 변수
str1 = '100'
str2 = '200'
str3 = '12.345'

# 형 변환
int1 = int(str1)
int2 = int(str2)
float1 = float(str3)

# 타입 비교는 == 연산자를 사용한다.
print( int1 == str) # int1 변수는 문자열인가? 답은 False

sum = int1 + int2
print('출력1 : ', sum)   # 출력1 :  300

float2 = float1 + 35.2
print('출력2 : ', float2)   # 출력2 :  47.545

# 데이터의 타입을 확인한다.
# type() 함수를 이용하여 해당 변수가 어떤 종류의 타입인지 확인할 수 있습니다.
print(type(str1))   # <class 'str'>
print(type(int1))   # <class 'int'>
print(type(float1))	# <class 'float'>]

In [ ]:
# 문자열 변수
str1 = '100'
str2 = '200'
str3 = '12.345'

In [ ]:
int1 = int(str1)
int2 = int(str2)
float1 = float(str3)

int1+int2

In [ ]:
sum = int1 + int2
print('출력1 : ', sum)

In [ ]:
float2 = float1 + 35.2
print('출력2 : ', float2)   # 출력2 :  47.545

In [ ]:
print(type(str1))   # <class 'str'>
print(type(int1))   # <class 'int'>
print(type(float1))	# <class 'float'>]

In [ ]:
a=int(input())
a

In [ ]:
coffee = 3      # 판매 가능한 커피 수
price = 2000    # 커피의 단가

print("우리 매장에 커피 {}잔이 있습니다.".format(coffee))

money = int(input("돈을 넣어주세요 : "))        #돈을 넣어주세요 : 3000
print("{}원을 입금하셨습니다.".format(money))    #3000원을 입금하셨습니다.

change = money - price
print("거스름돈은 {}원이며, 커피 {}잔을 판매합니다.".format(change, 1))
print("남은 커피의 양은 {}잔입니다.\n".format(coffee-1))

In [ ]:
salary = int(input('월급 입력 : '))
income = 0  # 연봉
tax = 0     # 세금

#연봉 구하기
if salary >= 500 :
    income = 12 * salary
else :
    income = 13 * salary

#세금 구하기
if income >= 10000 :
    tax = 0.2 * income
elif income >= 7000 :
    tax = 0.15 * income
elif income >= 5000 :
    tax = 0.12 * income
elif income >= 1000 :
    tax = 0.1 * income
else :
    tax = 0

print('월급 : %d' % (salary))
print('연봉 : %.2f' % (income))
print('세금 : %.2f' % (tax))

In [ ]:
somelist = ['김의찬', '유만식', '이영철', '심수련', '윤기석', '노윤희', '황우철']
print(somelist)     #모든 색인의 값을 출력

print('앞에서 4번째 요소만 출력')
print(somelist[4])

print('뒤에서 2번째 요소만 출력')
print(somelist[-2])

print('1번째부터 3번째까지 출력')
print(somelist[1:4])

print('4번째부터 끝까지 출력')
print(somelist[4:])

length = len(somelist)
print('홀수 번째만 출력')
print(somelist[1:length:2])

print('짝수 번째만 출력')
print(somelist[0:length:2])

print('3의 배수만 출력')
print(somelist[0:length:3])

In [ ]:
tuple01 = (10, 20, 30)

tuple01 = tuple01 + (40, )
print('print tuple :', tuple01)

tuple02 = 10, 20, 30, 40   # 단순 콤마 연결

mylist = [10, 20, 30, 40]
tuple03 = tuple(mylist)

if tuple02 == tuple03 :
    print("component equal")
else :
    print("component not equal")

tuple04 = (10, 20, 30)
tuple05 = (40, 50, 60)

print('+ 연산자는 2개의 튜플을 합치는 역할을 합니다.')
tuple06 = tuple04 + tuple05
print(tuple06 )

print('* 연산자는 튜플을 지정한 정수만큼 반복시키는 역할을 합니다.')
tuple07 = tuple04 * 3
print(tuple07)

print('튜플을 사용하면 변수들을 swap 시킬 수 있습니다.')
a, b = 11, 22
a, b = b, a

print('a=', a, ', b=', b)   #a= 22 , b= 11

# 슬라이싱
tuple08 = (11, 22, 33, 44, 55, 66)
print(tuple08[1:3])   #(22, 33)
print(tuple08[3:])   #(44, 55, 66)

# 튜플은 읽기 전용이다. 다음 문장은 오류가 발생한다.
# tuple08[0] = 100
# TypeError: 'tuple' object does not support item assignment

In [ ]:
dictionary = {'김유신':50, '윤봉길':40, '김구':60}
print('사전 내역 : ', dictionary)

print('\nkeys() 메소드는 사전의 key 목록을 보여 줍니다.')
for key in dictionary.keys():
    print(key)

print('\nvalues() 메소드는 사전의 값들의 목록을 보여 줍니다.')
for value in dictionary.values():
    print(value)

print('\nkeys()를 이용한 value 검색하기')
for key in dictionary.keys():
    print('{}의 나이는 {}입니다'.format(key, dictionary[key]))

print('\nitems() 메소드는 key와 value로 이루어진 쌍(pair)을 보여 줍니다.')
for key, value in dictionary.items():
    print('{}의 나이는 {}입니다'.format(key, value))

print('\nin은 키의 존재 여부를 확인해줍니다.')
findKey = '유관순'
if findKey in dictionary :
    print(findKey + '은(는) 존재합니다')
else:
    print(findKey + '은(는) 존재하지 않습니다')

print('\npop()를 이용한 데이터 끄집어 내기')
# 팝업된 정보의 value가 result에 대입된다.
result = dictionary.pop('김구')
print('pop 이후의 사전 내용 : ', dictionary)
print('pop된 내용 : ' , result)

print('\nclear() 메소드는 사전의 내용을 모두 비웁니다.')
dictionary.clear()
print('사전 내역 : ', dictionary)

In [ ]:
mystring = 'life is an egg'
mylist = mystring.split()

for idx in range(len(mylist)):
    if idx % 2 == 0:
        mylist[idx] = mylist[idx].upper()
    else :
        mylist[idx] = mylist[idx].lower()


print('join() 함수를 이용하여 문자열 합치기')
result = ' '.join(mylist)

print('결과 리스트 :', result)

In [ ]:
coffee = 3
price = 2000

print("판매 가능한 커피 잔량 : %d" % (coffee))
print("단가 : %d원" % (price))
while True:
    money = int(input("돈을 넣어주세요: "))
    if money == price:
        print("커피를 팝니다.")
        coffee -= 1
    elif money > price:
        print("거스름돈 {}를 주고, 커피를 팝니다.".format(money - price))
        coffee -= 1
    else:
        print("돈을 다시 돌려주고, 커피를 팔지 않습니다.")
    print("남은 커피의 양은 {}개입니다.\n".format(coffee))

    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

In [ ]:
mylist01 = list(onedata for onedata in range(1, 6))
print(mylist01)

mylist02 = list(10 * onedata for onedata in range(1, 6))
print(mylist02)

mylist03 = [3, 4, 6, 2]
result = [idx**2 for idx in mylist03 if idx % 2 == 0]
print(result)

In [ ]:
a=int(input())
b=int(input())
print(a+b)

In [ ]:
이름=str(input())
수량=int(input())
단가=int(input())
총금액= 수량*단가

print("이름: %s, 수량:%d, 단가: %d, 총금액: %d"%(이름,수량,단가,총금액))

In [ ]:
a=int(input())

if a%2==0:
  print(a**2)

else:
  print(a**3)

In [ ]:
list1=["김의찬","유만식","이영철"]
list2=["심수련","윤기석","노윤희"]
list3=list1+list2

i=0
while i<len(list3):
  if i%3==1:
    print(list3[i])
  i=i+1

In [ ]:
mydict={"바나나":10, "수박":20, "오렌지 ":15}

print(mydict)

In [ ]:
coffee = 10
price = 2000

print("판매 가능한 커피 잔량 : %d" % (coffee))
print("단가 : %d원" % (price))

while True:
    money = int(input("돈을 넣어주세요: "))
    a=money//2000

    if coffee<=0:
      print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
      break
    elif a==0:
      print("돈을 다시 돌려주고, 커피를 팔지 않습니다.")
      print("남은 커피의 양은 {}개입니다.\n".format(coffee))
    else:
      coffee1=coffee-a
      if coffee1<0:
        print("남은 커피양은 0개입니다")
        change=money-coffee*2000
        coffee=0
      else:
        coffee=coffee-a
        change=money-a*2000
      print("남은 커피의 양은 %d개입니다.\n"%(coffee))
      print("거스름돈 %d를 주고, 커피를 팝니다."%(change))

In [ ]:
wordInfo = {'세탁기':50, '선풍기':30, '청소기':40, '냉장고':60 }

# 값의 크기가 큰 것부터 정렬한 후의 키를 반환합니다.
myxticks = sorted(wordInfo, key=wordInfo.get, reverse=True)
print(myxticks)

# 키에 대하여 역순으로 정렬해줍니다.
reverse_key = sorted(wordInfo.keys(), reverse=True)
print(reverse_key)

# 값에 대하여 역순으로 정렬해줍니다.
chartdata = sorted(wordInfo.values(), reverse=True)
print(chartdata)

In [ ]:
def nolambda(x, y):
    return 3 * x + 2 * y

x, y = 3, 5

result = nolambda(x, y)
print('일반 함수 방식 : %d' % (result))

yeslambda = lambda x, y : 3 * x + 2 * y
result = yeslambda(x, y)
print('람다 방식 01 : %d' % (result))

result = yeslambda(5, 7)
print('람다 방식 02 : %d' % (result))

In [ ]:
import numpy as np

print(np.zeros(3)) # 0이 3개 들어 있는 배열 생성

print('\n# zeros((2,2)) : 요소의 값이 모두 0인 2 * 2의 배열 생성')
arrZeros = np.zeros((2, 2))
print(arrZeros)

print('\n# ones((3, 2)) : 요소의 값이 모두 1인 3 * 2의 배열 생성')
array2 = np.ones((3, 2))
print(array2)

In [ ]:
import numpy  as np

print('\nnp.repeat 함수는 su를 rep_cnt만큼 반복한다.')
su1 = 2
rep_cnt = 5
result = np.repeat(su1, rep_cnt)
print(type(result))
print(result)

array1 = np.array([1, 2])
array2 = np.array([3, 4])
print('\n1번 배열')
print(array1)

print('\n2번 배열')
print(array2)

print('\nnp.concatenate 함수는 배열들을 합쳐 준다.')
result = np.concatenate((array1, array2))
print(result)

su2 = 3
rep_cnt2 = 4
print('\n함수들의 중첩.')
abcd = np.repeat(su1, rep_cnt)
defg = np.repeat(su2, rep_cnt2)
result = np.concatenate((abcd, defg))
print(result)

array3 = np.array([1, 2, 3, 4, 5, 6])
print('\nreshape 함수는 형상을 변경해준다.')

print('2행 3열')
result = np.reshape(array3, [2, 3])
print(result)

print('\n3행 2열')
result = np.reshape(array3, [3, 2])
print(result)

array4 = np.array([[3, 6, 2], [4, 1, 5]])
print('\n4번 배열')
print(array4)

print('\n전치된 배열')
result = np.transpose(array4)
print(result)

In [ ]:
import numpy as np

print(np.ones(4))

arrZeros = np.zeros((2, 3))
print(arrZeros)

array2 = np.ones((3, 3))
print(array2)

In [ ]:
import numpy as np

a = np.array([-1, 3, 2, -6])
b = np.array([3, 6, 1, 2])
A = np.reshape(a, [2, 2])
B = np.reshape(b, [2, 2])

print('\n행렬 A')
print(A)

print('\n행렬 B')
print(B)

result3_1 = np.matmul(A, B)
result3_2 = np.matmul(B, A)

print('\n행렬 result3_1')
print(result3_1)

print('\n행렬 result3_2')
print(result3_2)

b = np.reshape(b, [1, 4])
a = np.reshape(a, [1, 4])
b2 = np.transpose(b)
print(b2)

result = np.matmul(a, b2)
print(result)

In [ ]:
import numpy as np

a = np.array([-1, 3, 2, -6])
b = np.array([3, 6, 1, 2])
A = np.reshape(a, [2, 2])
B = np.reshape(b, [2, 2])

print('\n행렬 A')
print(A)

print('\n행렬 B')
print(B)

result3_1 = np.matmul(A, B)
result3_2 = np.matmul(B, A)

print('\n행렬 result3_1')
print(result3_1)

print('\n행렬 result3_2')
print(result3_2)

b = np.reshape(b, [1, 4])
a = np.reshape(a, [1, 4])
b2 = np.transpose(b)
print(b2)

result = np.matmul(a, b2)
print(result)

In [ ]:

import numpy as np

# rint : round와 비슷한 함수
# trunc : floor와 비슷한 함수

# 유니버설 함수 사용하기
array = np.array([1.57, 2.48, 3.93, 4.33])
print('\n배열 출력하기')
print(array)

print('\nnp.ceil() 함수는 소수 자리를 올림한다')
result = np.ceil(array)
print(result)

print('\nnp.floor() 함수는 소수 자리를 버림한다.')
result = np.floor(array)
print(result)

print('\nnp.round() 함수는 소수 자리를 반올림한다.')
result = np.round(array)
print(result)

print('\n소수점 1자리에서 반올림.')
result = np.round(array, 1)
print(result)

print('\n루트 씌우기.')
result = np.sqrt(array)
print(result)

arr = np.arange(10)
print(arr)
print()

print('\nexp 함수 적용.')
result = np.exp(arr)
print(result)

x = [5, 4]
y = [6, 3]

# 두 원소 중에서 큰 값을 반환한다.
print('\nnp.maximum(x, y)')
result = np.maximum(x, y)
print(result)

print('-' * 30)

array1 = np.array([-1.1, 2.2, 3.3, 4.4])
print('\n배열 출력하기 1')
print(array1)

array2 = np.array([1.1, 2.2, 3.3, 4.4])
print('\n배열 출력하기 2')
print(array2)

print('\n절댓값 구하기.')
result = np.abs(array1)
print(result)

print('\n배열 요소들의 값 합치기.')
result = np.sum(array1)
print(result)

print('\n배열 요소들의 값 비교하기.')
result = np.equal(array1, array2)
print(result)

print('\nnp.sum과 np.equal을 동시에 사용하기')
print('True는 1로 False는 0으로 카운트된다.')
result = np.sum(np.equal(array1, array2))
print(result)

print('\n평균 구하기.')
result = np.mean(array2)
print(result)

# 배열 연산의 기본적인 수학 함수
arrX = np.array([[1,2],[3,4]], dtype=np.float64)
arrY = np.array([[5,6],[7,8]], dtype=np.float64)

print('\n요소별 더하기')
print(arrX + arrY)
print(np.add(arrX, arrY))

print('\n요소별 빼기')
print(arrX - arrY)
print(np.subtract(arrX, arrY))

print('\n요소별 곱하기')
print(arrX * arrY)
print(np.multiply(arrX, arrY))

print('\n요소별 나누기')
print(arrX / arrY)
print(np.divide(arrX, arrY))

print('\n요소별 제곱근; 다음의 배열을 만듭니다')
# [[ 1. 1.41421356][ 1.73205081  2. ]]
print(np.sqrt(arrX))

In [ ]:
from pandas import Series
import numpy as np

mylist = [10, 40, 30]
myindex = ['김유신', '이순신', '강감찬']

print('\n#케이스01')
myseries = Series(mylist)
print(myseries)

print('\n#케이스02')
myseries = Series(data=mylist)
print(myseries)

print('\n#케이스03')
myseries = Series(data=mylist, index=myindex)
print(myseries)

print('\n#케이스04')
myseries = Series(data=mylist, index=myindex, dtype=float)
print(myseries)

In [ ]:
from pandas import Series

mylist = [10, 40, 30, 20]
myseries = Series(data=mylist, index = ['강감찬', '이순신', '김유신', '광해군'])

print('\n# 자료형 확인')
print(type(myseries))

myseries.index.name = '점수'
print('\n#시리즈의 색인 이름')
print(myseries.index.name)

myseries.name = '학생들 시험'
print('\n#시리즈의 이름')
print(myseries.name)

print('\n#색인 확인하기')
print(myseries.index)

print('\n#시리즈의 값 확인')
print(myseries.values)

print('\n#시리즈 정보 출력')
print(myseries)

print('\n#반복하여 출력하기')
for idx in myseries.index:
    print('색인 : ' + idx + ', 값 : ' + str(myseries[idx]))

In [ ]:
from pandas import Series

myindex = ['용산구', '마포구', '영등포구', '서대문구', '광진구', '은평구', '서초구']
mylist = [50, 60, 40, 80, 70, 30, 20]
myseries = Series(data=mylist, index=myindex)
print(myseries)


print('\n색인의 이름으로 값 읽기')
print(myseries[['서대문구']])

print('\n라벨 이름으로 슬라이싱')
print(myseries['서대문구':'은평구'])



print('\n여러 개의 색인 이름으로 데이터 읽기')
print(myseries[['서대문구', '서초구']])

print('\n정수를 이용한 데이터 읽기')
print(myseries[[2]])

print('\n0, 2, 4번째 데이터 읽기')
print(myseries[0:5:2])

print('\n1, 3, 5번째 데이터 읽기')
print(myseries[[1, 3, 5]])

print('\n슬라이싱 사용하기')
print(myseries[3:6]) # from <= 결과 < to	1, 3, 5번째 데이터 읽기

print('\n2번째 항목의 값 변경')
myseries[2] = 90

print('\n2번째부터 4번째까지 항목의 값 변경')
myseries[2:5] = 33

print('\n용산구와 서대문구만 55로 변경')
myseries[['용산구', '서대문구']] = 55

print('\n짝수 행만 80으로 변경')
myseries[0::2] = 80

print('\n시리즈 내용 확인')
print(myseries)

1. 답안


*   array()
*   aragne()

*   ones()
*   zeros()

2. 답안

![image.png]()

3. 답안

In [ ]:
import numpy as np

print(np.ones(4))

arrZeros = np.zeros((2, 3))
print(arrZeros)

array2 = np.ones((3, 3))
print(array2)

[1. 1. 1. 1.]
[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

4. 답안

In [ ]:
import numpy as np

a = np.array([-1, 3, 2, -6, 3, 0])
b = np.array([3, 6, 1, 2, 0, 2])
A = np.reshape(a, [2, 3])
B = np.reshape(b, [3, 2])

print('\n행렬 A')
print(A)
print('\n행렬 B')
print(B)
result3_1 = np.matmul(A, B)
result3_2 = np.matmul(B, A)
print('\n행렬 result3_1')
print(result3_1 )
print('\n행렬 result3_2')
print(result3_2)

행렬 A
[[-1  3  2]
 [-6  3  0]]

행렬 B
[[3 6]
 [1 2]
 [0 2]]

행렬 result3_1
[[  0   4]
 [-15 -30]]

행렬 result3_2
[[-39  27   6]
 [-13   9   2]
 [-12   6   0]]

In [47]:
# 기술 통계 계산과 요약(유일 값, 값 세기, 멤버십)
from pandas import Series

print('\n# 유일 값, 값 세기, 멤버십')
mylist = ['라일락', '코스모스', '코스모스','백일홍', '코스모스', '코스모스', '들장미', '들장미', '라일락', '라일락']
myseries = Series(mylist)
print(myseries)

print('\n# unique() 메소드 사용하기')
# 중복 값을 제거하고, 유일 값만 저장하는 Series 객체를 반환해줍니다.
print('# 데이터베이스의 distinct와 동일한 개념')
myunique = myseries.unique()
print(myunique)

print('\n# value_counts() 메소드')
print('# 항목별 누적 개수를 구한 뒤 역순으로 보여 준다. ')
# print( myseries.value_counts(normalize=True) )
print(myseries.value_counts())

print('\n# isin() 메소드 사용하기(DB의 in 절과 유사한 개념)')
# isin() 메소드는 어떤 값이 Series에 있는지를 나타내는 Boolean 벡터를 반환합니다.
# Series나 DataFrame에서 특정 값을 골라 내고 싶을 때 유용하게 사용할 수 있습니다.
# '들장미', '라일락'이 들어 있는 색인만 추출하겠습니다다.
# 데이터베이스의 in 절(clause)과 유사한 개념으로 봐도 무방합니다.
mask = myseries.isin(['들장미', '라일락'])
print(mask)
print('-' * 30)

print(myseries[mask])
print('-' * 30)

print('\nfinished')

# 유일 값, 값 세기, 멤버십
0     라일락
1    코스모스
2    코스모스
3     백일홍
4    코스모스
5    코스모스
6     들장미
7     들장미
8     라일락
9     라일락
dtype: object

# unique() 메소드 사용하기
# 데이터베이스의 distinct와 동일한 개념
['라일락' '코스모스' '백일홍' '들장미']

# value_counts() 메소드
# 항목별 누적 개수를 구한 뒤 역순으로 보여 준다.
코스모스    4
라일락     3
들장미     2
백일홍     1
dtype: int64

# isin() 메소드 사용하기(DB의 in 절과 유사한 개념)
0     True
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool
------------------------------
0    라일락
6    들장미
7    들장미
8    라일락
9    라일락
dtype: object
------------------------------

finished

In [ ]:
import numpy as np
from pandas import DataFrame

mydata=np.arange(9).reshape((3, 3))
myframe = DataFrame(data=mydata, index=['용산구', '마포구', '은평구'], columns=['김철수', '이영희', '정준수'])
print(myframe)
print('-'*30)

# 파이썬의 딕셔너리를 이용하여 생성합니다.
# 딕셔너리의 key가 순서대로 색인으로 들어갑니다.
sdata = {'지역' : ['용산구', '마포구'], '연도' : [2019, 2020]}
myframe = DataFrame(data=sdata)
print(myframe)
print('-'*30)


# 중첩된 딕셔너리를 이용하는 경우 딕셔너리의 key가 column이 되고, 안쪽의 키가 행(row)이 됩니다.
# 행은 (2020, 2021, 2003), 열은 ('용산구', '마포구')이 됩니다.
sdata = {'용산구' : {2020:10, 2021:20}, '마포구' : {2020:30, 2021:40, 2022:50}}
myframe = DataFrame(sdata)
print(myframe)
print('-'*30)

# 같은 길이의 딕셔너리를 이용하여 DataFrame을 생성할 수 있습니다.
sdata = {'지역' : ['용산구', '용산구', '용산구', '마포구', '마포구'], '연도' : [2019, 2020, 2021, 2020, 2021], '실적' : [20, 30, 35, 25, 45]}
myframe = DataFrame(sdata)
print(myframe)
print('-'*30)

In [31]:
from pandas import DataFrame

sdata = {
            '도시' : ['서울', '서울', '서울', '부산', '부산'],
            '연도' : [2000, 2001, 2002, 2001, 2002],
            '실적' : [150, 170, 360, 240, 290]
        }

# 색인을 지정하지 않으면 0부터는 일련번호가 자동으로 설정된다.
# myframe = DataFrame(sdata)

myindex = ['one', 'two', 'three', 'four', 'five']
myframe = DataFrame(sdata, index=myindex)
# print(myframe)

print('\n타입 확인 :', type(myframe))

myframe.columns.name = '컬럼1'
print('\n컬럼 정보 확인 ')
myframe.columns

myframe.index.name = '색인1'
print('\n색인 정보 확인 ')
myframe.index

print('\n들어 있는 내용 확인 ')
print(type(myframe.values)) # ndarray
print(myframe.values)

print('\n자료형 확인 ')
print(myframe.dtypes)

print('\n내용 확인 ')
print(myframe)

print('\n행과 열을 전치시킵니다. ')
print(myframe.T)

print('\ncolumns 속성 사용해보기 ')
mycolumns = ['실적', '도시', '연도']
newframe = DataFrame(sdata, columns=mycolumns)
newframe

타입 확인 : <class 'pandas.core.frame.DataFrame'>

컬럼 정보 확인

색인 정보 확인

들어 있는 내용 확인
<class 'numpy.ndarray'>
[['서울' 2000 150]
 ['서울' 2001 170]
 ['서울' 2002 360]
 ['부산' 2001 240]
 ['부산' 2002 290]]

자료형 확인
컬럼1
도시    object
연도     int64
실적     int64
dtype: object

내용 확인
컬럼1    도시    연도   실적
색인1
one    서울  2000  150
two    서울  2001  170
three  서울  2002  360
four   부산  2001  240
five   부산  2002  290

행과 열을 전치시킵니다.
색인1   one   two three  four  five
컬럼1
도시     서울    서울    서울    부산    부산
연도   2000  2001  2002  2001  2002
실적    150   170   360   240   290

columns 속성 사용해보기

    실적  도시    연도
0  150  서울  2000
1  170  서울  2001
2  360  서울  2002
3  240  부산  2001
4  290  부산  2002

In [48]:
import numpy as np
from pandas import DataFrame

myindex = ['이순신', '김유신', '강감찬', '광해군', '연산군']
mycolumns = ['서울', '부산', '광주', '목포', '경주']
mylist = list(10 * onedata for onedata in range(1, 26))
print(mylist)

myframe = DataFrame(np.reshape(mylist, (5, 5)),
                     index=myindex,
                     columns = mycolumns)

print(myframe)

print('\n# 1행만 시리즈로 읽어오기')
result = myframe.iloc[1]
print(type(result))
print(result)

print('\n# 몇 개의 행을 읽어오기')
result = myframe.iloc[[1,3]]
print(type(result))
print(result)

print('\n# 짝수 행만 가져오기')
result = myframe.iloc[0::2]
print(result)

print('\n# 홀수 행만 가져오기')

print('\n# 이순신 행만 시리즈로 읽어오기')
result = myframe.loc['이순신']
print(type(result))
print(result)

print('\n# 이순신 행만 데이터프레임으로 읽어오기')
result = myframe.loc[['이순신']]
print(type(result))
print(result)

print('\n# 이순신과 강감찬 행 읽어오기')
result = myframe.loc[['이순신', '강감찬']]
print(type(result))
print(result)

print(myframe.index)
print('-' * 40)

print('\n# 강감찬의 광주 실적 정보 가져오기')
result = myframe.loc[['강감찬'], ['광주']] # DataFrame
print(result)

print('\n# 연산군와 강감찬의 광주/목포 정보 가져오기')
result = myframe.loc[['연산군', '강감찬'], ['광주', '목포']]
print(result)

print('\n# 연속적인 데이터 가져오기')
result = myframe.loc['김유신':'광해군', '광주':'목포']
print(result)

print('\n# 김유신~광해군까지 부산 실적 정보 가져오기')
result = myframe.loc['김유신':'광해군', ['부산']]
print(result)

print('\nBoolean으로 데이터 처리하기')
result = myframe.loc[[False, True, True, False, True]]
print(result)

print('\n부산 실적이 100 이하인 항목들')
result = myframe.loc[myframe['부산'] <= 100]
print(result)

print('\n목포 실적이 140인 항목들')
result = myframe.loc[myframe['목포'] == 140]
print(result)

# print('\n복합 조건')
# result = myframe.loc[myframe['부산'] >= 70 & myframe['목포'] >= 140]
# print(result)

# ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
#
#
cond1 = myframe['부산'] >= 70
cond2 = myframe['목포'] >= 140

print(type(cond1))
print('-' * 40)

print(cond1)
print('-' * 40)

print(cond2)
print('-' * 40)

df = DataFrame([cond1, cond2])
print(df)
print('-' * 40)

print(df.all())
print('-' * 40)

print(df.any())
print('-' * 40)

result = myframe.loc[df.all()]
print(result)
print('-' * 40)

result = myframe.loc[df.any()]
print(result)
print('-' * 40)

print('\n람다 함수의 사용')
result = myframe.loc[lambda df : df['광주'] >= 130]
print(result)

print('\n# 이순신과 강감찬의 부산 실적을 30으로 변경하기')
myframe.loc[['이순신', '강감찬'], ['부산']] = 30

print('\n## 김유신부터 광해군까지 경주 실적을 80으로 변경하시오.')
myframe.loc['김유신':'광해군', ['경주']] = 80

print('\n# 연산군의 모든 실적을 50으로 변경하기')
myframe.loc[['연산군'], :] = 50

print('\n# 모든 사람의 광주 컬럼을 60으로 변경하기')
myframe.loc[:, ['광주']] = 60

print('\n# 호호호')
print(myframe)
print('\n# 경주 실적이 60 이하인 데이터를 모두 0으로 변경하기')
myframe.loc[myframe['경주'] <= 60 , ['경주', '광주']] = 0

print('\n# 하하하')
print(myframe)

# print('\n# 데이터 프레임 사용하기')
# print(myframe)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]
      서울   부산   광주   목포   경주
이순신   10   20   30   40   50
김유신   60   70   80   90  100
강감찬  110  120  130  140  150
광해군  160  170  180  190  200
연산군  210  220  230  240  250

# 1행만 시리즈로 읽어오기
<class 'pandas.core.series.Series'>
서울     60
부산     70
광주     80
목포     90
경주    100
Name: 김유신, dtype: int64

# 몇 개의 행을 읽어오기
<class 'pandas.core.frame.DataFrame'>
      서울   부산   광주   목포   경주
김유신   60   70   80   90  100
광해군  160  170  180  190  200

# 짝수 행만 가져오기
      서울   부산   광주   목포   경주
이순신   10   20   30   40   50
강감찬  110  120  130  140  150
연산군  210  220  230  240  250

# 홀수 행만 가져오기

# 이순신 행만 시리즈로 읽어오기
<class 'pandas.core.series.Series'>
서울    10
부산    20
광주    30
목포    40
경주    50
Name: 이순신, dtype: int64

# 이순신 행만 데이터프레임으로 읽어오기
<class 'pandas.core.frame.DataFrame'>
     서울  부산  광주  목포  경주
이순신  10  20  30  40  50

# 이순신과 강감찬 행 읽어오기
<class 'pandas.core.frame.DataFrame'>
      서울   부산   광주   목포   경주
이순신   10   20   30   40   50
강감찬  110  120  130  140  150
Index(['이순신', '김유신', '강감찬', '광해군', '연산군'], dtype='object')
----------------------------------------

# 강감찬의 광주 실적 정보 가져오기
      광주
강감찬  130

# 연산군와 강감찬의 광주/목포 정보 가져오기
      광주   목포
연산군  230  240
강감찬  130  140

# 연속적인 데이터 가져오기
      광주   목포
김유신   80   90
강감찬  130  140
광해군  180  190

# 김유신~광해군까지 부산 실적 정보 가져오기
      부산
김유신   70
강감찬  120
광해군  170

Boolean으로 데이터 처리하기
      서울   부산   광주   목포   경주
김유신   60   70   80   90  100
강감찬  110  120  130  140  150
연산군  210  220  230  240  250

부산 실적이 100 이하인 항목들
     서울  부산  광주  목포   경주
이순신  10  20  30  40   50
김유신  60  70  80  90  100

목포 실적이 140인 항목들
      서울   부산   광주   목포   경주
강감찬  110  120  130  140  150
<class 'pandas.core.series.Series'>
----------------------------------------
이순신    False
김유신     True
강감찬     True
광해군     True
연산군     True
Name: 부산, dtype: bool
----------------------------------------
이순신    False
김유신    False
강감찬     True
광해군     True
연산군     True
Name: 목포, dtype: bool
----------------------------------------
      이순신    김유신   강감찬   광해군   연산군
부산  False   True  True  True  True
목포  False  False  True  True  True
----------------------------------------
이순신    False
김유신    False
강감찬     True
광해군     True
연산군     True
dtype: bool
----------------------------------------
이순신    False
김유신     True
강감찬     True
광해군     True
연산군     True
dtype: bool
----------------------------------------
      서울   부산   광주   목포   경주
강감찬  110  120  130  140  150
광해군  160  170  180  190  200
연산군  210  220  230  240  250
----------------------------------------
      서울   부산   광주   목포   경주
김유신   60   70   80   90  100
강감찬  110  120  130  140  150
광해군  160  170  180  190  200
연산군  210  220  230  240  250
----------------------------------------

람다 함수의 사용
      서울   부산   광주   목포   경주
강감찬  110  120  130  140  150
광해군  160  170  180  190  200
연산군  210  220  230  240  250

# 이순신과 강감찬의 부산 실적을 30으로 변경하기

## 김유신부터 광해군까지 경주 실적을 80으로 변경하시오.

# 연산군의 모든 실적을 50으로 변경하기

# 모든 사람의 광주 컬럼을 60으로 변경하기

# 호호호
      서울   부산  광주   목포  경주
이순신   10   30  60   40  50
김유신   60   70  60   90  80
강감찬  110   30  60  140  80
광해군  160  170  60  190  80
연산군   50   50  60   50  50

# 경주 실적이 60 이하인 데이터를 모두 0으로 변경하기

# 하하하
      서울   부산  광주   목포  경주
이순신   10   30   0   40   0
김유신   60   70  60   90  80
강감찬  110   30  60  140  80
광해군  160  170  60  190  80
연산군   50   50   0   50   0

In [49]:
import numpy as np
from pandas import Series, DataFrame

# 산술 연산과 데이터 정렬
myindex = ['강호민', '유재준', '신동진']
mylist = [30, 40, 50]

myseries = Series(data=mylist, index=myindex)
print('\n시리즈 출력 결과')
print(myseries)

myindex = ['강호민', '유재준', '이수진']
mycolumns = ['서울', '부산', '경주']
mylist = list(10 * onedata for onedata in range(1, 10))
# print(mylist)

myframe = DataFrame(np.reshape(np.array(mylist), (3, 3)),
                     index=myindex,
                     columns = mycolumns)
print('\n데이터프레임 출력 결과')
print(myframe)

# 데이터 프레임과 시리즈 간에 산술 연산이 가능하다.
# axis = 0이면 시리즈의 색인과 데이터 프레임의 색인간의 연산이 된다.
print('\nDataFrame + Series')
result = myframe.add(myseries, axis=0)
print(result)

myindex2 = ['강호민', '유재준', '김병준']
mycolumns2 = ['서울', '부산', '대구']
mylist2 = list(5 * onedata for onedata in range(1, 10))
# print( mylist )

myframe2 = DataFrame(np.reshape(np.array(mylist2), (3, 3)),
                     index=myindex2,
                     columns = mycolumns2)
print('\n데이터프레임 출력 결과')
print(myframe2)

print('\nDataFrame + DataFrame')
result = myframe.add(myframe2, fill_value=0)
print(result)

시리즈 출력 결과
강호민    30
유재준    40
신동진    50
dtype: int64

데이터프레임 출력 결과
     서울  부산  경주
강호민  10  20  30
유재준  40  50  60
이수진  70  80  90

DataFrame + Series
       서울    부산     경주
강호민  40.0  50.0   60.0
신동진   NaN   NaN    NaN
유재준  80.0  90.0  100.0
이수진   NaN   NaN    NaN

데이터프레임 출력 결과
     서울  부산  대구
강호민   5  10  15
유재준  20  25  30
김병준  35  40  45

DataFrame + DataFrame
       경주    대구    부산    서울
강호민  30.0  15.0  30.0  15.0
김병준   NaN  45.0  40.0  35.0
유재준  60.0  30.0  75.0  60.0
이수진  90.0   NaN  80.0  70.0

3.2. 1번 답안

In [69]:
from pandas import Series

mylist = [200, 300, 400, 100]
myseries = Series(data=mylist, index = ['손오공', '저팔계', '사오정', '삼장법사'])

myseries.index.name = '실적 현황'
print('\n#시리즈의 색인 이름')
print(myseries.index.name)

myseries.name = '직원 실적'
print('\n#시리즈의 이름')
print(myseries.name)

print('\n#반복하여 출력해보기')
for idx in myseries.index:
    print('색인 : ' + idx + ', 값 : ' + str(myseries[idx]))

#시리즈의 색인 이름
실적 현황

#시리즈의 이름
직원 실적

#반복하여 출력해보기
색인 : 손오공, 값 : 200
색인 : 저팔계, 값 : 300
색인 : 사오정, 값 : 400
색인 : 삼장법사, 값 : 100

3.2. 2번 답안

In [ ]:
from pandas import Series

myindex = ['강감찬', '이순신', '김유신', '광해군', '연산군', '을지문덕']
mylist = [50, 60, 40, 80, 70, 20]
myseries = Series(data=mylist, index=myindex)
print(myseries)

print('\n1번째 항목을 100으로 변경')
myseries[1] = 100
print('\n2번째부터 4번째까지 999로 변경')
myseries[2:5] = 999
print('\n강감찬과 을지문덕을 30으로 변경')
myseries[['강감찬', '을지문덕']] = 30

print('\n시리즈 내용 확인')
print(myseries)

강감찬     50
이순신     60
김유신     40
광해군     80
연산군     70
을지문덕    20
dtype: int64

1번째 항목을 100으로 변경

2번째부터 4번째까지 999로 변경

강감찬과 을지문덕을 30으로 변경

시리즈 내용 확인
강감찬      30
이순신     100
김유신     999
광해군     999
연산군     999
을지문덕     30
dtype: int64

3.3. 3번 답안

In [ ]:
from pandas import Series, DataFrame

myindex1 = ['성춘향', '이몽룡', '심봉사']
mylist1 = [40, 50, 60]

myindex2 = ['성춘향', '이몽룡', '뺑덕어멈']
mylist2 = [20, 40, 70]

myseries1 = Series(data=mylist1, index=myindex1 )
myseries2 = Series(data=mylist2, index=myindex2 )

print('\n# 시리즈 01')
print(myseries1)

print('\n# 시리즈 02')
print(myseries2)

print('\n# 두 시리즈 덧셈')
newseries = myseries1.add(myseries2, fill_value = 10)
print(newseries)

print('\n# 두 시리즈 뺄셈')
newseries = myseries1.sub(myseries2, fill_value = 30)
print(newseries)

# 시리즈 01
성춘향    40
이몽룡    50
심봉사    60
dtype: int64

# 시리즈 02
성춘향     20
이몽룡     40
뺑덕어멈    70
dtype: int64

# 두 시리즈 덧셈
뺑덕어멈    80.0
성춘향     60.0
심봉사     70.0
이몽룡     90.0
dtype: float64

# 두 시리즈 뺄셈
뺑덕어멈   -40.0
성춘향     20.0
심봉사     30.0
이몽룡     10.0
dtype: float64

3.4. 4번 답안

In [ ]:
from pandas import DataFrame

sdata = {
            '국어' : [40, 60, 80, 50, 30],
            '영어' : [55, 65, 75, 85, 60],
            '수학' : [30, 40, 50, 60, 70]
        }

myindex = ['강감찬', '이순신', '김유신', '김구', '안중근']
myframe = DataFrame(sdata, index=myindex)
print(myframe)

print('\n# 짝수 행만 읽어 보세요.')
result = myframe.iloc[0::2]
print(result)

print('\n# 이순신 행만 Series로 읽어 보세요.')
result = myframe.loc['이순신']
print(result)

print('\n# 강감찬의 영어 점수를 읽어 보세요.')
result = myframe.loc[['강감찬'], ['영어']]  # DataFrame
print(result)

print('\n# 안중근과 강감찬의 국어/수학 점수를 읽어 보세요.')
result = myframe.loc[['안중근', '강감찬'], ['국어', '수학']]
print(result)

print('\n# 이순신과 강감찬의 영어 점수를 80으로 변경하세요.')
myframe.loc[['이순신', '강감찬'], ['영어']] = 80

print('\n# 이순신부터 김구까지 수학 점수를 100으로 변경하세요.')
myframe.loc['이순신':'김구', ['수학']] = 100
print(myframe)

     국어  영어  수학
강감찬  40  55  30
이순신  60  65  40
김유신  80  75  50
김구   50  85  60
안중근  30  60  70

# 짝수 행만 읽어 보세요.
     국어  영어  수학
강감찬  40  55  30
김유신  80  75  50
안중근  30  60  70

# 이순신 행만 Series로 읽어 보세요.
국어    60
영어    65
수학    40
Name: 이순신, dtype: int64

# 강감찬의 영어 점수를 읽어 보세요.
     영어
강감찬  55

# 안중근과 강감찬의 국어/수학 점수를 읽어 보세요.
     국어  수학
안중근  30  70
강감찬  40  30

# 이순신과 강감찬의 영어 점수를 80으로 변경하세요.

# 이순신부터 김구까지 수학 점수를 100으로 변경하세요.
     국어  영어   수학
강감찬  40  80   30
이순신  60  80  100
김유신  80  75  100
김구   50  85  100
안중근  30  60   70

3.2. 5번 답안

In [ ]:
import numpy as np
from pandas import Series, DataFrame

myindex = ['윤봉길', '김유신', '신사임당']
mylist = [30, 40, 50]

myseries = Series(data=mylist, index=myindex )
print('\n시리즈 출력 결과')
print(myseries)


myindex = ['윤봉길', '김유신', '이순신']
mycolumns = ['용산구', '마포구', '서대문구']
mylist = list(3 * onedata for onedata in range(1, 10))
# print(mylist)

myframe = DataFrame(np.reshape(np.array(mylist), (3, 3)),
                    index=myindex,
                    columns = mycolumns)
print('\n데이터프레임 출력 결과')
print(myframe)

# 데이터 프레임과 시리즈 간에 산술 연산이 가능하다.
# axis = 0이면 시리즈의 색인과 데이터 프레임의 색인간의 연산이 된다.
print('\nDataFrame + Series')
result = myframe.add(myseries, axis=0)
print(result)

myindex2 = ['윤봉길', '김유신', '이완용']
mycolumns2 = ['용산구', '마포구', '은평구']
mylist2 = list(5 * onedata for onedata in range(1, 10))
# print(mylist)

myframe2 = DataFrame(np.reshape(np.array(mylist2), (3, 3)),
                     index=myindex2,
                     columns = mycolumns2)
print('\n데이터프레임 출력 결과')
print(myframe2)

print('\nDataFrame + DataFrame')
result = myframe.add(myframe2, fill_value=20)
print(result)

print('\nDataFrame - DataFrame')
result = myframe.sub(myframe2, fill_value=10)
print(result)

print('\n# 곱하기(mul), 나누기(div)')

시리즈 출력 결과
윤봉길     30
김유신     40
신사임당    50
dtype: int64

데이터프레임 출력 결과
     용산구  마포구  서대문구
윤봉길    3    6     9
김유신   12   15    18
이순신   21   24    27

DataFrame + Series
       용산구   마포구  서대문구
김유신   52.0  55.0  58.0
신사임당   NaN   NaN   NaN
윤봉길   33.0  36.0  39.0
이순신    NaN   NaN   NaN

데이터프레임 출력 결과
     용산구  마포구  은평구
윤봉길    5   10   15
김유신   20   25   30
이완용   35   40   45

DataFrame + DataFrame
      마포구  서대문구   용산구   은평구
김유신  40.0  38.0  32.0  50.0
윤봉길  16.0  29.0   8.0  35.0
이순신  44.0  47.0  41.0   NaN
이완용  60.0   NaN  55.0  65.0

DataFrame - DataFrame
      마포구  서대문구   용산구   은평구
김유신 -10.0   8.0  -8.0 -20.0
윤봉길  -4.0  -1.0  -2.0  -5.0
이순신  14.0  17.0  11.0   NaN
이완용 -30.0   NaN -25.0 -35.0

# 곱하기(mul), 나누기(div)